.details {
  margin-top: 2rem;
}

.label-details {
  font-size: 16px;
  margin: 0;
  font-weight: 200;
}

strong {
  font-weight: 600;
  font-size: 22px;
}

.btn-back {
  display: flex;
  justify-content: start;
  margin-top: 2rem;
}

.btn-back button {
  min-width: 100px;
  height: 30px;
  background-color: #00B588;
  color: #000;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
