@import "bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
}

.box-body {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: clamp(3.2rem, 5vw, 4.5rem);
  font-weight: 300;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
