.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-field label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 16px;
}

label {
    text-transform: uppercase;
    text-align: left;
}

input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 45px;
  border: 1px solid #e2e2e2;
  padding: 10px;
  font-size: 14px;
}

input:focus {
  border-color: #5e35b1;
  outline: none;
}

.btn-submit {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn-submit button {
  min-width: 160px;
  height: 45px;
  background-color: #43A047;
  color: #fffffF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-submit button:hover {
  background-color: #388E3C;
}

.btn-submit button:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;
  opacity: 0.7;
}


.error {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
